.form-field {
    position: relative;
    margin: 45px 0;
}

.form-field .form-input {
    background: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0;
}

.form-field .form-input:focus {
    outline: none;
    border-bottom: 2px solid rgb(223, 67, 15);
}

.form-input-label {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}

.form-input:focus ~ .form-input-label {
    top: -14px;
    font-size: 12px;
    color: black;
}

.shrink {
    top: -14px;
    font-size: 12px;
    color: black;
}